*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family:nunito ;
    font-size: 16px;
}

/* HEADER SECTION */
/* HEADER SECTION */
/* HEADER SECTION */

nav{
    color: white;
background-image: linear-gradient(to right top, #0e0750, #070846, #05073b, #060331, #040026);background-image: linear-gradient(to right top, #4a2003, #460f13, #39061f, #240526, #040026);
position: fixed;
width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 4rem;
}
.nav-ul{
    list-style: none;
    display: flex;
}
.nav-links {
    font-size: .8rem;
    text-decoration: none;
    padding-left: 1rem;
    color: white;
    transition: all .6s ease;
    
}
.nav-links:hover {
     color: #2814e1;
    font-size: 1rem;
    cursor: pointer;

}
.hamburger {
  display: none;
}
.check {
  display: none;
}
/* ABOUT SECTION */
/* ABOUT SECTION */
/* ABOUT SECTION */

.title-img {
  margin-top:2rem ;
    width:20%;
    border: 1px solid transparent;
    border-radius: 5px;
}
.about-items {
    margin: 0 auto;
    text-align: center;
    padding: 3rem 1rem;
}
span {
    display:block;
     animation: text-changer 8s infinite 2s;
}
.p-tag{
     animation: text-changer 8s infinite 2s;
}
.title {
     animation: text-changer 5s infinite 2s;
}
.flag-img {
    width:2%;
}


.skills {
    width: 100%;
    color: white;
background-image: linear-gradient(to right top, #0e0750, #070846, #060331, #040026);background-image: linear-gradient(to right top, #4a2003, #460f13, #39061f, #240526, #040026);
 padding: 3rem 1rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
  margin: 0 auto;

}

.skills-item h2 {
    font-size: 1.2rem;
    display: inline;
    
}
.skills-item p {
      padding-top: 1.2rem;
 
   

}
.item-1{
    width: 40%;
    padding-left: 0rem;
}
.item-2 {
    width: 40%;

      font-weight: 700; 
   
}
.email {
    text-decoration: none;
    color: white;
    display: inline;
}

.email:hover {
    color: #2814e1;


}



/* Services section */
.container_section_2 {
  padding: 2rem;
}

.container_section_2 h2 {
  color:#4c1313;
  font-size: 25px;
  margin-bottom: 50px;
}

.services {
  display: flex;
  gap: 50px;
}

.services1 {
     color: white;
background-image: linear-gradient(to right top, #0e0750, #070846, #060331, #040026);background-image: linear-gradient(to right top, #4a2003, #460f13, #39061f, #240526, #040026);

  padding: 35px;
  border-radius: 10px;
  text-align: center;
 
}

.services1:hover {
  background: #290909;
   transition: all 1s ;
}
.services1 h1 {
  color: #fff;
  margin-bottom: 20px;
}

.services1 p {
  margin: 0 auto;
  color: #fff;
  font-size: 17px;
  width: 90%;
}

/* Footer */
/* Footer */
/* Footer */
footer {
   color: white;
background-image: linear-gradient(to right top, #0e0750, #070846, #060331, #040026);background-image: linear-gradient(to right top, #4a2003, #460f13, #39061f, #240526, #040026);

  padding: 35px;
  padding: 80px 0 50px 0;
  color: #fff;
  text-align: center;
}

footer h3 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 100;
}

footer p {
  font-weight: bold;
}

footer .copyright {
  font-size: 12px;
  font-weight: 100;
  margin-top: 100px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 20px;
}
footer .social-media {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

footer .circle:hover {
  border: 1px solid #2814e1;;
  color: #2814e1;
}




@keyframes text-changer {
    0% {
     
        color: #662726;
    }
     25% {
        
        color:#31410C ;
    }
     50% {
       
        color:  #662726;
    }
     75% {
      
        color:#5e2423 ;
        
    }
     100% {
       
        color: #000a4e ;
    }
    
}


/* ***** MEDIA QUERIES****** */





/* Tablet  */
@media screen and (max-width: 925px){
    .skills-item p {
    width: 90%;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-size: .8rem;
}
}
/* mobile Devices */
@media screen  and (max-width: 583px ){
      /* HEADER SECTION */
    .hamburger {
        display: inline-block;
    }
    .check {
      display: none;
    }
    .hamburger i {
        font-size: 1rem;
        color:white;
        transform: .3s;
    }
    .nav-ul {
        position:fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        display: block;
        background-color: rgba(54, 0, 0, 0.7);
        padding: 2rem ;
        transform: translateX(-150%);
        z-index: 11;
        transition: all .5s;

    }
    .nav-ul li {
        margin: 1.5rem;
        border-bottom:1px solid white;
        padding-bottom:1rem ;
    }
    .nav-ul li a {
        color: var(--white);
        transition: all .3s;

    }
    .nav-ul li a:hover,.nav-ul .current a {
        margin: 1rem;
        background-color: transparent;
        color:#e5e2f9;

    
}

.nav-ul li a::before{
    display: none;
}
.nav-ul li a::after{
    display: none;
}

/* SLIDE MENU WHEN THE HAMBURGER IS CLICKED */
#toggle:checked ~ .nav-ul {
    transform: translate(0);
}

#toggle:checked ~ .hamburger i {
border: 1px solid black;
padding: .5rem;
border-radius: 5px;
transition: .5s;

}
    .nav-ul {
        text-align: center;
    }
    .nav-links {
        text-align: center;
        margin-left: 1rem;
        font-size: .6rem;
    }


    /* About Section */
    .title-img {
    width: 40%;
    border: 1px solid transparent;
    border-radius: 5px;
}


.skills-item h2 {
    font-size: 1.2rem;
    
    
}
.skills-item p {
    width: 25rem;
   
    padding-top: 2rem;
    font-size: 1rem; 
    /* margin: 0 auto; */
 
   

}
.item-1{
    width: 100%;
    
}
.item-2 {
  width: 100%;
     font-size: 1.2rem;
    font-weight: 700;
     /* text-transform: capitalize; */
   
}
.email {
    text-decoration: none;
    color: white;
    display: inline;
}

.email:hover {
    color: #2814e1;


}

.skills{
    flex-direction: column;
    text-align: center;
}
.skills-item h2 {
    font-size: .9rem;
}
.item-1{
    /* margin: 0rem; */
}
.skills-item p {
    width: 100%;
    padding-top:2rem;
    margin-bottom: 2rem;
    font-size: .7rem;
    
}
.item-2 {
    font-weight: 100;
    font-size: .2rem;
   
   
}
.container_section_2 h2 {
  color:#4c1313;
  font-size: 25px;
  margin-bottom: 50px;
}
/* Services */
.services {
  flex-direction: column;
  gap: 50px;
}

.services1 p {
  margin: 0 auto;
  color: #fff;
  font-size: 17px;
  width: 100%;
}





    
}













